*{
    margin: 0px;
    padding: 0px;
    border: border-box;
}
.nav{
    height: 60px;
    
    display: flex;
    color: white;
    background-color: #0F1111;
}
.logo img{
    margin-top: 8px;
    margin-left: 5px;
    padding: 3px;
    padding-bottom: 1px;
    height: 40px;
    width: 100px;
    /* aspect-ratio: 3/2; */
    object-fit: contain;
    mix-blend-mode: color-dodge;
 } 
 

 /* box-2 */
 .nav-search:hover{
    background-color: #beb8b8;
 }
 .nav-add{
     margin-top: 7px;
     margin-left: 9px;
     width: 90px;
    }
    .box-2{
        padding: 6px;
    }
    .nav-sec{
        display: flex;
        align-items: center;
    
 }
 .ind{
    margin-left: 6px;
 }
 .nav-del{
    margin-left: 20px;
 font-size: 12px;
 color: #cccccc;
 }
 /* box-3 */
 .nav-search{
    /* border: 2px solid white;
    border-radius: 5px; */
    background-color: #f3eeee;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    text-align: center;
    padding: 5px;
    margin-top: 12px;
    margin-left: 18px;
    height: 40px;
    width: 50px;
 }


 .nav-eng{
        padding: 7px;
        height: 22px;
        width: 470px;
        margin-top: 12px;
 }
 .nav-btn:hover{
    background-color: darkorange;
 }
 .nav-btn{
    border: 0px solid;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: orange;
     margin-top: 13px;
     height: 39px;
    width: 36px;
 }
 /* box-4 */
 .nav-lan{
    border: none;
    background-color: transparent;
    color: white;
    padding: 9px;
    margin-top: 10px;
    margin-left: 16px;
    height: 48px;
    width: 58px;
 }
 /* box-5&6*/
 .btn{
    padding: 8px;
    
 }
 .nav-sign{
    padding: 5px;
    background-color: transparent;
    border: none;
    color: white;
    text-align: left;
    height: 48px;
    color: black;
    margin-top: 4px;
    margin-left: 6px;
 }
 .col{
    color: white;
 }
 /* box-7 */
 .nav-cart{
    display: flex;
    background-color: transparent;
    height: 40px;
    width: 40px;
    margin-left: 10px;
    margin-top: 18px;
 }
 .nav-cart i{
    font-size: 30px;
 }

.border{
    border: 1px solid transparent;
}
.border:hover{
    border: 1px solid white;
}

/* second navbar */
.sec-bar{
    display: flex;
    color: white;
    background-color: #1f2424;
    height: 30px;
}
.ham{
    display: flex;
    width: 43PX;
    margin-left: 5px;
    padding: 6px;
    padding-bottom: 1px;
}
.offers{
   margin-top: 1px;
    margin-left:5px ;
    padding: 5px;
}
a{
   list-style: none;
   color: white;
   text-decoration: none;
   padding: 5px;
}
#main{
   background-image: url('section.jpg');
   background-repeat: no-repeat;
   background-size: cover;
   height: 300px;
   /* width: 100%; */
   display: flex; 
   /* flex-direction: column; */
   justify-content: center;
   align-items: flex-end;
 
}



.mid{
   font-size: 14px;
   justify-content: center;
   align-items: center;
   display: flex;
   height: 40px;
   width: 1170px;
   margin-bottom: 20px;
   text-align: center;
   background-color: #f5f6f6;
   /* position: absolute;
   top: 330px;
   left: 10px;
  
   position: absolute;
    top: 500px; */
}
.pic{
   display: flex;
   flex-direction: row;

}
.items{
   background-color: rgb(220, 219, 214);
   color: black;
   width: 99%;
   /* padding: 5px 50px; */
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
padding: 10px;
}
h3{
   padding: 8px;

}
.pic img{
   height: 130px;
   width: 2500px;
   overflow: auto;
   aspect-ratio: 3/2;
   /* object-fit: contain; */
   /* mix-blend-mode: color-dodge; */
}
.box{
   display: flex ;
   margin: 5px;
   height: 320px;
   width: 255px;
 
   background-color: white;
   color: black;
   display: flex;
   flex-direction: column;
   /* align-items: center; */
   padding: 10px;
   margin: 5px;
}
.see a{
   color: black;
   list-style: none;
  
   text-decoration: none;
   padding: 5px;
}
.footer{
   display: flex;
   width: 100%;
   height: 50px;
   text-align: center;
   justify-content: center;
   align-items: center;
   color: white;
   background-color: #1f2424;
}
.know{
   display: flex;
  
   background-color: #232f3e;
   color: white;
}
.four{
   justify-content: center;
   padding-left: 280px;
   /* align-items: center; */
   text-align: left;
   display: flex;
   flex-direction: column;
   height: 300px;
   width: 350px;
   /* border: 2px solid red; */
}
.sec {
   padding-left: 60px;
}
.third{
   padding-left: 40px;
}
.fourth{
   padding-left: 40px;
   padding-right: 280px;
}
.four a{
   
   
}
